/*
github-like style (c) Cédric Ronvel <cedric.ronvel@gmail.com>
*/

div.markdown {
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
	padding: 15px;
	color: #333;
	font-family: Helvetica,arial,freesans,clean,sans-serif;
	word-wrap: break-word;
}

.markdown h1 ,
.markdown h2 ,
.markdown h3 ,
.markdown h4 ,
.markdown h5 ,
.markdown h6 {
	border-bottom: 1px solid #d9d9d9;
	margin: 2em 0 1em 0;
}

.markdown p ,
.markdown blockquote ,
.markdown ul ,
.markdown ol ,
.markdown dl ,
.markdown table {
	margin: 15px 0;
	font-size: 14px;
}

.markdown p {
	line-height: 1.7;
}

.markdown pre {
	background-color: #eee;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	margin: 15px 0;
	padding: 6px 10px;
	line-height: 1.4;
}

.markdown code {
	background-color: #eee;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	margin: 0 2px;
	padding: 2px 4px;
	line-height: 1.7;
}

.markdown pre code {
	background-color: #eee;
	border: none;
	margin: 0;
	padding: 0;
}

.markdown a {
	color: #4183C4;
	text-decoration: none;
}

.markdown a:hover {
	color: #4183C4;
	text-decoration: underline;
}

.markdown a:active ,
.markdown a:hover {
	outline: 0 none;
}

.markdown figure {
	display: table;
	margin: 10px auto;
	width: 1px;
	border-collapse: collapse;
}

.markdown figure.float { margin: 2px 2px; }

.markdown figure img {
	display: table-row;
}

.markdown figure figcaption {
	display: table-row;
	text-align: center;
	font-style: italic;
	color: #777;
	background-color: #fbb;
}


